<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
   background-image: url('back2.jpg');
   scroll-behavior: smooth;
  
   min-height: 1500px;
   margin-bottom: 100px;
   clear: both;

  

}

#header {
  background-color: #282c34;
  min-height:15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0px 5px 2px #888888;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#eeeeee;
   color: black;
   text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#addtask{
  border: 5px solid #eeeeee;
  width: 322px;
  height:30px;
  box-shadow: 2px 5px 2px #888888;

  
  margin:auto;
  background:#f9f9fa;
  margin-top: 50px;

  
  
}
span{
 
 margin-top: 8px;
 margin-left: 12px;
 display: inline-block


}
#addtask_button{
  width: 10%;
  height:30px;
  float: right;
  border: 1px solid #ADDFFF;
}

#taskid{
  width: 97%;
  margin-top: 5px;
   box-shadow: 0px 0px 2px #888888;

}
#selectid{
  width: 100%;
   padding: 2px;
   margin-top: 10px;
   box-shadow: 0px 0px 2px #888888;
}
input{
  padding: 2px;
}
label{

}

#cancel_button{
    float: right;
  
    
  border: none;

  padding: 7.5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  cursor: pointer;
  display: inline-block;
}
#save_button{
    float: right;
  ;
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 7.5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  cursor: pointer;
  border-radius: 3px;
  width: 100px;
  display: inline-block;
}
#time_input{
  width: 45%;
    float: right;
     padding:5px; 
    border:1px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #888888;
    display: inline-block;

}
#date_input{
  width: 45%;
   padding:5px; 
    border:1px solid #ccc; 
 
    border-radius: 5px;
    box-shadow: 0px 0px 2px #888888;
    display: inline-block;

}
form{
  padding: 10px;
   border: 5px solid #eeeeee;
   height: 330px;
   margin-top: 0px;
   background:#edf7fc;
   border-bottom-right-radius:3px;
   border-bottom-left-radius:3px;
   box-shadow: 2px 2px 2px #888888;
   display: inline-block;
   width: 301px;
   margin-left: -3.5px;
}
input[type=text] {
    padding:5px; 
    border:1px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
}
select{
   padding:5px; 
    border:1px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#time_labe{
  float: right;
  margin-right: 38%;
}
#show{
  border: 5px solid #eeeeee;
  width:320px;  
  background: white;
  

  margin-top: 10px;
  margin-left:-4px;
  margin-bottom:10px;
}
#date{
  color: red;
  font-size:11px;
  display: inline-block;
}

#tick_button{
  float: right;
  margin-top: -40px
}
#del_button{
    margin-top: 22px;

}
#create_button{
   float: right;
  margin-top: -40px;
  margin-right: 30px;
  display: inline-block;

}
#edit_button{
  float: right;
  margin-top: -40px;
  margin-right: 60px;


}
#user_label{
  margin-bottom: 20px

}
#time_pick{
  width: 130px;
  margin-left: 10px;
  background:white;
   box-shadow: 0px 0px 2px #888888;
}

